[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
grpcio-tools = "*"

[packages]
jinja2 = "*"
protobuf = "*"
protobuf-doc-autogen = {editable = true, path = "."}

[requires]
python_version = "3.8"
