<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
</head>
<body>
<header>
    <span id="header-title">MDL Protocol Buffers: <span class="monospace grey-hl">{{ file.name }}</span></span>
</header>

<div id="up-button">Top</div>

{% macro enum_box(enum) %}
    <h2 class="monospace message-heading" id="enum-{{ enum.name }}">Enum {{ enum.name }}</h2>
    {% if enum.description %}{% autoescape off %}
        <div class="description">
            {{ enum.description|replace("\n", "<br/>")|replace("\t","&nbsp;&nbsp;")|replace(" ", "&nbsp;") }}
        </div>
    {% endautoescape %}{% endif %}
<ul>
    {% for val in enum.values %}
    <li>{{ val.name }}{% if val.descripion %} - {{ val.description }}{% endif %}</li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro message_box(msg) %}
<h2 class="monospace message-heading" id="message-{{ msg.name }}">{{ msg.name }}</h2>
{% if msg.description %}{% autoescape off %}
<div class="description">
    {{ msg.description|replace("\n", "<br/>")|replace("\t","&nbsp;&nbsp;")|replace(" ", "&nbsp;") }}
</div>
{% endautoescape %}{% endif %}
<table class="message-field-list">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for fld in msg.fields %}
        <tr>
            <td><b><span class="monospace">{{ fld.name }}</span></b></td>
            <td>
                {% if fld.is_primitive %}
                    <span class="datatype">{{ fld.typ }}</span>
                {% else %}
                    <a href="#message-{{ fld.typ.strip(".") }}" class="message-type">{{ fld.typ }}</a>
                {% endif %}
            </td>
            <td>
                {% if fld.description %}<span>{{ fld.description }}</span>{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if msg.messages %}
    <p>Sub-messages:</p>
    {% for submsg in msg.messages %}
        {{ message_box(submsg) }}
    {% endfor %}
{% endif %}
{% if msg.enums %}
    {% for enum in msg.enums %}
        {{ enum_box(enum) }}
    {% endfor %}
{% endif %}
{% endmacro %}

{% if file.enums %}
    {% for enum in file.enums %}
        {{ enum_box(enum) }}
    {% endfor %}
{% endif %}
{% if file.messages %}
    <h1 id="message-types">Messages</h1>
    {% for msg in file.messages|sort(attribute="name") %}
        <div class="sep"></div>
        {{ message_box(msg) }}
    {% endfor %}
{% endif %}

{% if file.services %}
    <h1>Services</h1>
    {% for service in file.services %}
        <div class="sep"></div>
        <h2 class="monospace">{{ service.name }}</h2>
        {% if service.description %}
            <p class="description">{{ service.description }}</p>
        {% endif %}
        {% for rpc in service.rpcs %}
            <h3 style="display:inline-block; margin-right: 10px;">RPC <span class="monospace">{{ rpc.name }}</span></h3>
            <div style="display:inline-block;">
                <a href="#message-{{ rpc.input_type.strip(".") }}" class="message-type">{{ rpc.input_type }}</a>
                ->
                <a href="#message-{{ rpc.output_type.strip(".") }}" class="message-type">{{ rpc.output_type }}</a>
            </div>
            <p class="description">{{ rpc.description }}</p>
        {% endfor %}
    {% endfor %}
{% endif %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="static/index.js"></script>
</body>
</html>
