<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<header>
    <span id="header-title">MDL Protocol Buffers: <span class="monospace grey-hl">{{ file.name }}</span></span>
</header>

<div id="up-button">Top</div>

{% if file.messages %}
<h1 id="message-types">Messages</h1>
{% for msg in file.messages|sort(attribute="name") %}
<div class="sep"></div>
<h2 class="monospace message-heading" id="message-{{ msg.name }}">{{ msg.name }}</h2>
{% if msg.description %}{% autoescape off %}
<div class="description">
    {{ msg.description|replace("\n", "<br/>")|replace("\t","&nbsp;&nbsp;&nbsp;&nbsp;")|replace(" ", "&nbsp;") }}
</div>
{% endautoescape %}{% endif %}
<ul class="message-field-list">{% for fld in msg.fields %}
    <li>
        <b><span class="monospace">{{ fld.name }}</span></b>
        {% if fld.is_primitive %}
            <span class="datatype">{{ fld.typ }}</span>
        {% else %}
            <a href="#message-{{ fld.typ.strip(".") }}" class="message-type">{{ fld.typ }}</a>
        {% endif %}
        {% if fld.description %}
            -&nbsp;<span>{{ fld.description }}</span>
        {% endif %}</li>
{% endfor %}</ul>
{% endfor %}
{% endif %}

{% if file.services %}
    <h1>Services</h1>
    {% for service in file.services %}
        <div class="sep"></div>
        <h2 class="monospace">{{ service.name }}</h2>
        {% if service.description %}
            <p class="description">{{ service.description }}</p>
        {% endif %}
        {% for rpc in service.rpcs %}
            <h3 style="display:inline-block; margin-right: 10px;">RPC <span class="monospace">{{ rpc.name }}</span></h3>
            <div style="display:inline-block;">
                <a href="#message-{{ rpc.input_type.strip(".") }}" class="message-type">{{ rpc.input_type }}</a>
                ->
                <a href="#message-{{ rpc.output_type.strip(".") }}" class="message-type">{{ rpc.output_type }}</a>
            </div>
            <p class="description">{{ rpc.description }}</p>
        {% endfor %}
    {% endfor %}
{% endif %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="index.js"></script>
</body>
</html>
